{
  "extends": "airbnb",
  "plugins": [
    "jest",
    "import"
  ],
  "env": {
    "jest/globals": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": "off",
    "class-methods-use-this": "off",
    "comma-dangle": ["error", "never"],
    "global-require": "off",
    "import/default": "warn",
    "import/named": "error",
    "import/prefer-default-export": "warn",
    "react/jsx-props-no-spreading": "off",
    "no-alert": "error",
    "no-bitwise": "off",
    "no-console": "error",
    "no-underscore-dangle": "off",
    "padded-blocks": "error",
    "semi": ["error", "never"],
    "quotes": ["error", "single"]
  }
}
